<div class="panel panel-primary">
  <div class="panel-heading">
    <h3>Vehicles</h3>
  </div>
  <p>
    <a class="btn btn-primary newVehicleBtn" [routerLink]="['/vehical/new']" type="button">New Vehicle</a>

  </p>
  <div class="well">
    <div class="form-group">
      <label for="make">Make
        </label>
      <select class="form-control" name="make" id="make" [(ngModel)]="filter.makeId" (change)="onFilterChange()">
        <option value=""></option>  
        <option *ngFor="let m of makes" value="{{m.id}}">{{m.name}}</option>  
     
      </select>
    </div>
    <button class="btn btn-default " (click)="resetFilter()">Reset</button>

  </div>

  <div class="panel-body">
    <table class="table table-striped">
      <tr>
        <th>Id</th>
        <th>Make</th>
        <th>Model</th>
        <th>Contact Name</th>
        <th></th>
      </tr>
      <tr *ngFor="let v of vehicals">
        <td>{{v.id}}</td>
        <td>{{v.make.name}}</td>
        <td>{{v.model.name}}</td>
        <td>{{v.contact.name}}</td>
        <td><a [routerLink]="['/vehical/'+v.id]" class="">View</a></td>
      </tr>
    </table>
  </div>

</div>